{% load static global_tags %}
{% nav_list as nav_items %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Barry Butler">
    <meta name="author" content="Sitech Industries">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>{% block title %}{% endblock title %}</title>

    <!-- CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.min.css' %}" media="all">

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- JS -->
    {% block javascript_head %}{% endblock javascript_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
  </head>

  <body>

    <div class="header">
      <div class="header-logo">
        <img src="{% static 'images/101bee-logo.png' %}" alt="logo" height="65px">
      </div>
      <div class="header-buttons">
        <!-- Integrations <div class="header-button">
          <span class="material-symbols-outlined md-dark md-30">cloud_sync</span>
        </div> -->
        <a href="{% url 'settings' %}">
          <div class="header-button">
            <span class="material-symbols-outlined md-dark md-30">settings</span>
          </div>
        </a>
        <a href="{% url 'logout' %}">
          <div class="header-button">
            <span class="material-symbols-outlined md-dark md-30">logout</span>
          </div>
        </a>
      </div>
    </div>

    <div class="nav-top">
      {% for nav_item in nav_items %}
        <div class="nav-top-button{% if request.resolver_match.url_name|cut:'_settings' == nav_item.url %} nav-top-button-active{% endif %}">
          <a href="{% url nav_item.url %}">
            <span class="material-symbols-outlined md-dark md-18 align-middle">{{ nav_item.icon }}</span>
            <span class="align-middle ps-1">{{ nav_item.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="major-search-bar"></div>

    {% block content %}{% endblock content %}

    <div class="footer col-12">
      © Simon Thompson 2023  |  <a href="https://github.com/simonsprofile/">github.com/simonsprofile/</a>
    </div>

    <!-- Placed at end so page loads faster -->
    <script src="{% static 'js/base.js' %}" ></script>
    {% block javascript_tail %}{% endblock javascript_tail %}
    </script>

    {% if messages %}
      <script type=text/javascript>
        toastr.options = {positionClass: 'toast-top-center'};
        {% for message in messages %}
          toastr.{{ message.tags|cut:"alert-" }}("{{ message|escapejs }}");
        {% endfor %}
      </script>
    {% endif %}
  </body>
</html>
