{% extends '_base.html' %}

{% block title %}Lights{% endblock title %}

{% block lights_active %} active" aria-current="page"{% endblock lights_active %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Lights</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% if authorised %}
                <a class="btn btn-sm btn-outline-danger" href="{% url 'lights_disconnect' %}">
                    <span class="material-symbols-outlined md-light md-18 pe-05 pt-05 align-top">link_off</span>
                    <span class="align-top">Disconnect your Hue Bridge</span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 ms-0">
            {% if not authorised %}
                <p>Your Hue Bridge is not currently linked to Barry Butler. Please follow these instructions to connect to your Bridge:</p>
                <p class="muted small">N.B. This connection can stop working if there has been any network changes.</p>
                <ol>
                    <li>Enter your local Bridge IP below (hold on, <strong>don't</strong> click Connect yet...)</li>
                    <li>Press the link button on the Bridge itself.</li>
                    <li>Click Connect below.</li>
                </ol>
                <form class="row col-12 col-md-10 col-lg-8" method="post" action="{% url 'lights_auth' %}" >
                    {% csrf_token %}
                    <label for="ip" class="col-form-label">Bridge IP</label>
                    <div class="col-7">
                        <input class="form-control" required name="ip" id="ip" type="text" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" placeholder="192.168.0.1"{% if bridge_ip %} value="{{ bridge_ip }}"{% endif %}>
                    </div>
                    <div class="col-auto mb-3">
                        <button class="btn btn-success" type="submit">
                            <span class="material-symbols-outlined md-light md-18 pe-05 pt-1 align-top">link</span>
                            <span class="align-top">Connect</span>
                        </button>
                    </div>
                </form>
            {% else %}
                {% if battery_warning %}
                    <div class="border-bottom mb-3 pb-2">
                        {% for device in devices %}
                            {% if device.battery_level < 20 %}
                                <span class="btn btn-sm btn-secondary position-relative mb-2">
                                    {{ device.name }}
                                    <span class="badge bg-danger">{{ device.battery_level }}% Battery</span>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="border-bottom">
                    <h4>Setup Shortcuts</h4>
                    <p>The below functions will help set up some pretty neat functionality for your Philips Hue lights. There's a few things that must be manually setup before it these shortcuts will work properly though:</p>
                    <ul>
                        <li>Add all lights to your <strong>Bridge</strong> and organise them by <strong>Room</strong>.</li>
                        <li>If the light is a <i>lamp</i>, make sure the word <i>lamp</i> is in it's name.</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <form method="post" action="{% url 'lights_commit' %}">
                        {% csrf_token %}
                        <div class="row text-center">
                            <label for="action_type" class="col-12 col-lg-auto text-center text-lg-start py-1">I would like to</label>
                            <div class="col-12 col-lg-auto pb-3">
                                <div class="col-8 m-auto col-lg-auto pb-3">
                                    <select class="form-select form-select-sm text-center col-8 m-auto" name="action_type" id="action_type" required>
                                        <option disabled selected value>Select an action...</option>
                                        <option value="reset">delete all scenes and rules</option>
                                        <option value="initiate">initiate Daily Scenes</option>
                                        <option value="configure_switches">configure Switch(es) for Daily Scenes</option>
                                        <option value="configure_sensors">configure Sensor(s) for Daily Scenes</option>
                                    </select>
                                </div>
                            </div>
                            <label for="room_id" class="col-12 col-lg-auto text-center text-lg-start py-1">in the</label>
                            <div class="col-12 col-lg-auto">
                                <div class="col-8 m-auto col-lg-auto">
                                    <select class="form-select form-select-sm text-center col-8 m-auto" name="room_id" id="room_id" required>
                                        <option disabled selected value>Select a room...</option>
                                        {% for room in rooms %}
                                            <option value="{{ room.id }}" label="{{ room.name }}">{{ room.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-outline-success col-auto my-3 mx-auto ms-lg-3 mt-lg-0 mb-lg-3">
                                <span class="material-symbols-outlined md-light md-24 pe-05 align-top">tips_and_updates</span>
                                <span class="align-top">Make Changes</span>
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}