{% extends '_base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h2>Heating History</h2>
    <div class="flex-container flex-row flex-stretch flex-wrap">
        <div class="content-tile min-md">
            <div class="tab-button-set flex-container flex-row">
                <div class="tab-button tab_label tab-button-active" id="tab1_label" onClick="showTab('tab', 'tab1');">24 Hour</div>
                <div class="tab-button tab_label" id="tab2_label" onClick="showTab('tab', 'tab2');">48 Hour</div>
                <div class="tab-button tab_label" id="tab3_label" onClick="showTab('tab', 'tab3');">Week</div>
                <div class="tab-button tab_label" id="tab4_label" onClick="showTab('tab', 'tab4');">Month</div>
                <div class="tab-button tab_label" id="tab5_label" onClick="showTab('tab', 'tab5');">Year</div>
            </div>
            <div class="tab" style="display: block;" id="tab1">
                <canvas id="dailyChart" height="180"></canvas>
            </div>
            <div class="tab" style="display: none;" id="tab2">
                <canvas id="twoDailyChart" height="180"></canvas>
            </div>
            <div class="tab" style="display: none;" id="tab3">
                <canvas id="weeklyChart" height="180"></canvas>
            </div>
            <div class="tab" style="display: none;" id="tab4">
                <canvas id="monthlyChart" height="180"></canvas>
            </div>
            <div class="tab" style="display: none;" id="tab5">
                <canvas id="yearlyChart" height="180"></canvas>
            </div>
        </div>
    </div>
    <h2>Tabs</h2>
    <div class="flex-container flex-row flex-stretch flex-wrap">
        <div class="content-tile min-md">
            <div class="tab-button-set flex-container flex-row">
                <div class="tab-button tab_label tab-button-active" id="tab1_label" onClick="showTab('tab', 'tab1');">Long Title for Tab 1</div>
                <div class="tab-button tab_label" id="tab2_label" onClick="showTab('tab', 'tab2');">Tab 2</div>
            </div>
            <div class="tab" style="display: block;" id="tab1">
                <p>Here in tab 1, I'll explain that the <b>Dashboard</b> is currently just a collection of components to build a dashboard from later.</p>
            </div>
            <div class="tab" style="display: none;" id="tab2">
                <p>This is tab 2. That is all.</p>
            </div>
        </div>
    </div>
    <h2>Flex Boxes</h2>
    <div class="flex-container flex-col">
        <div class="flex-container flex-row flex-stretch flex-wrap">
            <div class="content-tile min-md">This is the first column, in which you will find this content.</div>
            <div class="content-tile min-sm">This is the second column, in which you will find this content.</div>
        </div>
        <div class="flex-container flex-row flex-stretch flex-wrap">
            <div class="content-tile">This is the third column, in which you will find this content.</div>
            <div class="content-tile">This is the fourth column, in which you will find this content.</div>
            <div class="content-tile">This is the fifth column, in which you will find this content.</div>
            <div class="content-tile">This is the sixth column, in which you will find this content.</div>
        </div>
    </div>
{% endblock content %}

{% block javascript_tail %}
    <script>
        const dailyChart = document.getElementById('dailyChart');
        const weeklyChart = document.getElementById('weeklyChart');
        const monthlyChart = document.getElementById('monthlyChart');
        const yearlyChart = document.getElementById('yearlyChart');
        var dataset_shortlist = []

        const roomSetpointRecordsJSON = JSON.parse('{{ room_setpoint_records|safe }}');
        const tankSetpointRecordsJSON = JSON.parse('{{ tank_setpoint_records|safe }}');
        const flowTemperatureRecordsJSON = JSON.parse('{{ flow_temperature_records|safe }}');
        const returnTemperatureRecordsJSON = JSON.parse('{{ return_temperature_records|safe }}');

        const roomSetpointRecords = roomSetpointRecordsJSON.map(item => ({
            x: new Date(item.x),
            y: item.y
        }));
        dataset_shortlist.push({
            label: 'Room Setpoint',
            data: roomSetpointRecords,
            backgroundColor: 'transparent',
            borderColor: '#9C5013',
            borderWidth: 2,
            tension: 0.5,
            hidden: true
        });
        const tankSetpointRecords = tankSetpointRecordsJSON.map(item => ({
            x: new Date(item.x),
            y: item.y
        }));
        dataset_shortlist.push({
            label: 'Tank Setpoint',
            data: tankSetpointRecords,
            backgroundColor: 'transparent',
            borderColor: 'darkblue',
            borderWidth: 2,
            tension: 0.5,
            hidden: true
        });

        // These are the wrong way round at the moment. I'll fix it later.
        const flowTemperatureRecords = flowTemperatureRecordsJSON.map(item => ({
            x: new Date(item.x),
            y: item.y
        }));
        const returnTemperatureRecords = returnTemperatureRecordsJSON.map(item => ({
            x: new Date(item.x),
            y: item.y
        }));
        dataset_shortlist.push({
            label: 'Flow Temperature',
            data: returnTemperatureRecords,
            backgroundColor: 'transparent',
            borderColor: '#204809',
            borderWidth: 2,
            tension: 0.4
        });
        dataset_shortlist.push({
            label: 'Return Temperature',
            data: flowTemperatureRecords,
            backgroundColor: 'transparent',
            borderColor: '#B7B863',
            borderWidth: 2,
            tension: 0.4
        });

        const colours = {
            'Hot Water': 'cornflowerblue',
            'Thermostat': '#D66F1A',
            'Outdoor': '#BAA9D2',
            'Plant Room': 'rgb(225, 179, 198, 0.8)'
        };
        const hide_these_datatsets = [
            //'Thermostat',
            'Hot Water'
        ]

        {% for sensor_name, sensor_records in sensor_records.items %}
            var colour = 'rgb(214, 111, 26, 0.3)';
            if ('{{ sensor_name|safe }}' in colours) {
                colour = colours['{{ sensor_name|safe }}'];
            }
            var hide_dataset = false;
            if (hide_these_datatsets.includes('{{ sensor_name|safe }}')) {
                hide_dataset = true;
            }
            const {{ sensor_name|cut:" "|safe }}JSON = JSON.parse('{{ sensor_records|safe }}');
            const {{ sensor_name|cut:" "|safe }}Records = {{ sensor_name|cut:" "|safe }}JSON.map(item => ({
                x: new Date(item.x),
                y: item.y
            }));
            dataset_shortlist.push({
                label: '{{ sensor_name|safe }}',
                data: {{ sensor_name|cut:" "|safe }}Records,
                backgroundColor: 'transparent',
                borderColor: colour,
                borderWidth: 2,
                tension: 0.5,
                hidden: hide_dataset
            });
        {% endfor %}

        // Re-Order Datasets
        var datasets = [];
        var ordering = [
            'Room Setpoint',
            'Thermostat',
            'Kitchen',
            'Landing',
            'Hallway',

            'Tank Setpoint',
            'Hot Water',

            'Outdoor',
            'Plant Room',

            'Flow Temperature',
            'Return Temperature'
        ];
        for (var s = 0; s < ordering.length; s++) {
            var search_for = ordering[s];
            console.log(search_for);
            for (var d = 0; d < dataset_shortlist.length; d++) {
                let dataset_name = dataset_shortlist[d].label;
                if (search_for == dataset_name) {
                    datasets.push(dataset_shortlist.splice(d, 1)[0]);
                    console.log(dataset_shortlist);
                }
            }
        }
        console.log('--');
        datasets = datasets.concat(dataset_shortlist);
        console.log(datasets);

        new Chart(dailyChart, {
            type: 'line',
            data: {
              datasets: datasets
            },
            options: {
                scales: {
                    x: {
                      type: 'time',
                      min: '{{ one_day_ago }}',
                      max: '{{ now }}',
                      time: {
                        unit: 'hour',
                        displayFormats: {
                            minute: 'HH:mm'
                        }
                      },
                      ticks: {
                        // Force ticks for all hours, even with missing data
                        source: 'linear',  // Use 'linear' for consistent ticks
                        major: {
                          unit: 'hour' // Display major ticks for each hour
                        }
                      },
                      title: {
                        display: true,
                        text: 'Time'
                      }
                    },
                    y: {
                      type: 'logarithmic',
                      title: {
                        display: true,
                        text: 'Temperature (ºC)'
                      }
                    }
                },
                plugins: {
                    legend: {
                        align: 'center',
                        labels: {
                            padding: 15,
                            usePointStyle: true,
                            pointStyle: 'line'
                        },
                        title: {
                            display: true,
                            text: 'Legend',
                            font: {
                               size: 14,
                               weight: 'bold'
                            }
                        }
                    }
                },
                layout: {
                    padding: {

                    }
                }
            }
        });

        new Chart(twoDailyChart, {
            type: 'line',
            data: {
              datasets: datasets
            },
            options: {
              scales: {
                x: {
                  type: 'time',
                  min: '{{ two_days_ago }}',
                  max: '{{ now }}',
                  time: {
                    unit: 'hour',
                    displayFormats: {
                        minute: 'HH:mm'
                    }
                  },
                  ticks: {
                    // Force ticks for all hours, even with missing data
                    source: 'linear',  // Use 'linear' for consistent ticks
                    major: {
                      unit: 'hour' // Display major ticks for each hour
                    }
                  },
                  title: {
                    display: true,
                    text: 'Time'
                  }
                },
                y: {
                  type: 'logarithmic',
                  title: {
                    display: true,
                    text: 'Temperature (ºC)'
                  }
                }
              }
            }
        });

        new Chart(weeklyChart, {
            type: 'line',
            data: {
              datasets: datasets
            },
            options: {
              elements: {
                point:{
                  radius: 0
                }
              },
              bezierCurve: true,
              scales: {
                x: {
                  type: 'time',
                  min: '{{ one_week_ago }}',
                  max: '{{ now }}',
                  time: {
                    unit: 'day',
                    displayFormats: {
                        day: 'EEEE'
                    }
                  },
                  ticks: {
                    // Force ticks for all hours, even with missing data
                    source: 'linear',  // Use 'linear' for consistent ticks
                    major: {
                      unit: 'hour' // Display major ticks for each hour
                    }
                  },
                  title: {
                    display: true,
                    text: 'Time'
                  }
                },
                y: {
                  type: 'logarithmic',
                  title: {
                    display: true,
                    text: 'Temperature (ºC)'
                  }
                }
              }
            }
        });

        new Chart(monthlyChart, {
            type: 'line',
            data: {
              datasets: datasets
            },
            options: {
              elements: {
                point:{
                  radius: 0
                }
              },
              bezierCurve: true,
              scales: {
                x: {
                  type: 'time',
                  min: '{{ one_month_ago }}',
                  max: '{{ now }}',
                  time: {
                    unit: 'day',
                    displayFormats: {
                        day: 'd MMM'
                    }
                  },
                  ticks: {
                    // Force ticks for all hours, even with missing data
                    source: 'linear',  // Use 'linear' for consistent ticks
                    major: {
                      unit: 'hour' // Display major ticks for each hour
                    }
                  },
                  title: {
                    display: true,
                    text: 'Time'
                  }
                },
                y: {
                  type: 'logarithmic',
                  title: {
                    display: true,
                    text: 'Temperature (ºC)'
                  }
                }
              }
            }
        });

        new Chart(yearlyChart, {
            type: 'line',
            data: {
              datasets: datasets
            },
            options: {
              elements: {
                point:{
                  radius: 0
                }
              },
              bezierCurve: true,
              scales: {
                x: {
                  type: 'time',
                  min: '{{ one_year_ago }}',
                  max: '{{ now }}',
                  time: {
                    unit: 'month',
                    displayFormats: {
                        month: 'MMMM'
                    }
                  },
                  ticks: {
                    // Force ticks for all hours, even with missing data
                    source: 'linear',  // Use 'linear' for consistent ticks
                    major: {
                      unit: 'hour' // Display major ticks for each hour
                    }
                  },
                  title: {
                    display: true,
                    text: 'Time'
                  }
                },
                y: {
                  type: 'logarithmic',
                  title: {
                    display: true,
                    text: 'Temperature (ºC)'
                  }
                }
              }
            }
        });
    </script>
{% endblock javascript_tail %}
