{% extends '_base.html' %}
{% load static %}

{% block title %}Heating{% endblock title %}

{% block content %}
    <h2>Status</h2>
    <div class="flex-container flex-col">
        <div class="flex-container flex-row">
            <div class="content-tile flex-col col-7">
                {% if daikin_authenticated %}
                    <h3>Live Temperatures</h3>
                    {% if temps %}
                        <p>Room: {{ temps.room }}ºC (Setpoint: {{ temps.room_setpoint }}ºC)</p>
                        <p>Hot Water: {{ temps.hot_water }}ºC (Setpoint: {{ temps.tank_setpoint }}ºC)</p>
                        <p>Flow: {{ temps.flow }}ºC</p>
                        <p>Outdoor: {{ temps.outdoor }}ºC</p>
                    {% else %}
                        <p>Error collecting data from Daikin's servers:</p>
                        <p>{{ daikin_error }}</p>
                    {% endif %}
                {% else %}
                    <p>Daikin is not connected.</p>
                {% endif %}
            </div>
            <div class="content-tile flex-col col-5">
                <div class="flex-container flex-col flex-c">
                    {% if daikin_authenticated %}
                        <span class="button-sm button-outline-success mt-3 mb-1">
                            <span class="material-symbols-outlined md-dark md-24 align-middle">check</span>
                            <span class="align-middle ps-1">Daikin is Connected</span>
                        </span>
                        <a class="button button-danger mt-3" href="{% url 'daikin_disconnect' %}">
                            <span class="material-symbols-outlined md-dark md-24 align-middle">sync_disabled</span>
                            <span class="align-middle ps-1">Disconnect Daikin</span>
                        </a>
                    {% else %}
                        <span class="button-sm button-outline-danger mt-3 mb-1">
                            <span class="material-symbols-outlined md-dark md-24 align-middle">close</span>
                            <span class="align-middle ps-1">Daikin is not Connected</span>
                        </span>
                        <a class="button button-success mt-3" href="{{ daikin_auth_url }}">
                            <span class="material-symbols-outlined md-dark md-24 align-middle">sync</span>
                            <span class="align-middle ps-1">Connect to Daikin Now</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h2>Heating History</h2>
        <div class="flex-container flex-row">
            <div class="flex-container flex-row flex-stretch flex-wrap col-12">
                <div class="content-tile min-md">
                    <div class="tab-button-set flex-container flex-row">
                        <div class="tab-button tab_label tab-button-active" id="tab1_label" onClick="showAndLoadTab('tab1', '24 Hour');">24 Hour</div>
                        <div class="tab-button tab_label" id="tab2_label" onClick="showAndLoadTab('tab2', '48 Hour');">48 Hour</div>
                        <div class="tab-button tab_label" id="tab3_label" onClick="showAndLoadTab('tab3', 'Week');">Week</div>
                        <div class="tab-button tab_label" id="tab4_label" onClick="showAndLoadTab('tab4', 'Month');">Month</div>
                        <div class="tab-button tab_label" id="tab5_label" onClick="showAndLoadTab('tab5', 'Year');;">Year</div>
                    </div>
                    <div class="tab" style="display: block;" id="tab1">
                        <canvas id="dailyChart" height="180"></canvas>
                    </div>
                    <div class="tab" style="display: none;" id="tab2">
                        <canvas id="twoDailyChart" height="180"></canvas>
                    </div>
                    <div class="tab" style="display: none;" id="tab3">
                        <canvas id="weeklyChart" height="180"></canvas>
                    </div>
                    <div class="tab" style="display: none;" id="tab4">
                        <canvas id="monthlyChart" height="180"></canvas>
                    </div>
                    <div class="tab" style="display: none;" id="tab5">
                        <canvas id="yearlyChart" height="180"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript_tail %}
    <script>
        // Collect data from view
        const roomSetpointRecordsJSON = JSON.parse('{{ room_setpoint_records|safe }}');
        const tankSetpointRecordsJSON = JSON.parse('{{ tank_setpoint_records|safe }}');
        const flowTemperatureRecordsJSON = JSON.parse('{{ flow_temperature_records|safe }}');
        const returnTemperatureRecordsJSON = JSON.parse('{{ return_temperature_records|safe }}');
        const sensorRecords = {{ sensor_records|safe }};

        const timeNow = '{{ now|safe }}';
        const oneDayAgo = '{{ one_day_ago }}';
        const twoDaysAgo = '{{ two_days_ago|safe }}';
        const oneWeekAgo = '{{ one_week_ago|safe }}';
        const oneMonthAgo = '{{ one_month_ago|safe }}';
        const oneYearAgo = '{{ one_year_ago|safe }}';
    </script>
    <script src="{% static 'js/heating_graphs.js' %}"></script>
{% endblock javascript_tail %}
